pywin32
configparser    
future==0.18.3          
matplotlib      
mplfinance      
PyQt5           
pytz            
xcffib
numpy 
xlrd   
SQLAlchemy==1.4.46
beautifulsoup4
pokereval
requests
QDarkStyle==3.0.3
