aiohttp
beautifulsoup4
chardet
fastapi
future
matplotlib
mplfinance
mysqlclient
# numba
numpy
pokereval
psycopg2-binary
pydantic
# pygtk  # Win
# PyInstaller  # build
PyQt5
pytest
pytz
qt_material
# Quartz  # OSX
Requests
setuptools
SQLAlchemy ~= 1.4
Tables
uvicorn
# win32gui  # win
xcffib
Xlib
xlrd
